<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.ju.waka1500student.projectisaberg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".PaypalActivity"/>
        <activity android:name=".CreditcardActivity"/>
        <activity android:name=".InvoiceActivity"/>
        <activity android:name=".ForgotPasswordActivity"/>
        <activity android:name=".ScanNFCActivity"/>
    </application>
</manifest>
